div {
    color: rgb(0, 0, 0);
}

.encabezado {
    color: rgb(255, 0, 0);
}

body {
    color: rgb(7, 29, 29);

}

.cita {
    font-style: italic;
    color:rgb(134, 175, 175)
}

.encabezado h1 {
    color:rgb(71, 209, 209)
}

