div {
    color: rgb(230, 224, 224);
}

.encabezado {
    color: rgb(229, 226, 226);
}

body {
    background-color: darkslategrey;

}

.cita {
    font-style: italic;
    color:azure
}

.encabezado h1 {
    color:azure
}